<div class="row m-0 min-vh-100">
    <!-- SIDEBAR -->
    <div class="col-12 col-md-3 col-lg-2 bg d-flex flex-column p-4 text-light">
        <h1>Proyecto</h1>
        <p>Panel de Gestión</p>
        <hr>

        <div class="d-flex flex-column gap-2">
            <div class="menu-item d-flex align-items-center gap-2">
                <i class="bi bi-tag"></i><a class="navbar-brand p-0" href=""  >Categorias</a>
            </div>

            <div class="menu-item d-flex align-items-center gap-2">
                <i class="bi bi-person-video2"></i><a class="navbar-brand p-0"  routerLink="profesionales-crud">Profesionales</a>
            </div>

            <div class="menu-item d-flex align-items-center gap-2">
                <i class="bi bi-file-person"></i><a class="navbar-brand p-0"  href="">Clientes</a>
            </div>

            <div class="menu-item d-flex align-items-center gap-2">
                <i class="bi bi-tools"></i><a class="navbar-brand p-0"  href="">Servicios</a>
            </div>

            <div class="menu-item d-flex align-items-center gap-2">
                <i class="bi bi-file-text"></i><a class="navbar-brand p-0"  href="">Solicitudes</a>
            </div>

            <div class="menu-item d-flex align-items-center gap-2">
                <i class="bi bi-star"></i><a class="navbar-brand p-0"  href="">Reseñas</a>
            </div>
        </div>
    </div>

    <!-- CONTENIDO -->
    <div class="col-12 col-md-9 col-lg-10 min-vh-100">
        <router-outlet></router-outlet>
    </div>

    
</div>

