/* You can add global styles to this file, and also import other style files */
.b-style{
    background: linear-gradient(90deg, #3b82f6, #06b6d4);
    color: white;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    display: flex;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.b-style:hover {
    background: linear-gradient(90deg, #2c61b6, #099cb6);
	color: white;
    
}

.active{
    background: linear-gradient(90deg, #3b82f6, #06b6d4);
}


.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #226ae7 !important;
}


.error{
    color: red;
}