
<h5 class="p-3"> Profesionales<hr></h5>

<div class="card m-3 mw-100">
  <div class="card-body row align-items-center">
    <div class="col-12 col-sm-10 mb-3 mb-sm-0">
        <h3 class="card-title"><i class="bi bi-people me-2"></i>Gestión de Profesionales</h3>
        <h6 class="card-subtitle mb-2 text-body-secondary">Administra los proveedores de servicios</h6>
    </div>

    <div class="col-12 col-sm-2 text-sm-end">
        <button class="b-style w-100 w-sm-auto mt-sm-2">
          <i class="bi bi-plus me-2 ms-4"></i>Nuevo Profesional
        </button>
    </div>
  </div>
</div>

<!--Componente Reutilizable-->
<app-search
    (searchChange)="filtrar($event)"
    place="Buscar profesionales por nombre, categoría o ciudad...">
></app-search>

<!--table-->
<div class="card m-3 p-3">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Contacto</th>
                <th>Categoria</th>
                <th>Ciudad</th>
                <th>Experiencia</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
                @for (p of profesion | filtrar:filtro; track $index) {
                    <tr>
                        <td>{{p.nombreCompleto}}</td>
                        <td>{{p.correo}} <br> {{p.numero}}</td>
                        <td>{{p.categoria}}</td>
                        <td>{{p.ciudad}}</td>
                        <td>{{p.numero}}</td>
                        <td>{{p.experiencia}}</td>
                        <td>{{p.estado}}</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                                <button type="button" class="btn btn-outline-primary"><i class="bi bi-pen"></i></button>
                                <button type="button" class="btn btn-outline-danger ms-2"><i class="bi bi-trash"></i></button>
                            </div>
                        </td>

                    </tr>
                }
        </tbody>
    </table>
  
</div>


<!--<div class="container">
    <h1 class="mb-3">Registrar Profesional</h1>
    <form [formGroup]="formProfesionales" class="row g-3 mb-5" novalidate>
        
        <div class="col-md-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre">
        </div>

        <div class="col-md-3">
            <label for="validationCustom02" class="form-label">Apellido</label>
            <input type="text" class="form-control" formControlName="apellido">
        </div>

        <div class="col-md-3">
            <label for="validationCustom03" class="form-label">Número de Contacto</label>
            <input type="text" class="form-control" formControlName="numero">
        </div>

        <div class="col-md-3">
            <label class="form-label">Correo</label>
            <input type="text" class="form-control" formControlName="correo">
        </div>

        <div class="col-md-4">
            <label for="validationCustom04" class="form-label">Url Imagen</label>
            <input type="text" class="form-control" formControlName="foto">
        </div>

        <div class="col-md-4">
            <label for="validationCustom04" class="form-label">Tipo de Oficio</label>
            <select class="form-select" formControlName="oficio">
                <option selected disabled value="">--Seleccione una Opción--</option>
                <option>Gasfitero</option>
                <option>Servicios de limpieza</option>
                <option>Electricista</option>
                <option>Albañil</option>
            </select>
        </div>

        

        <div class="col-md-4">
            <label for="validationCustom05" class="form-label">Ciudad de Trabajo</label>
            <select class="form-select" formControlName="ciudad">
                <option selected disabled value="">--Seleccione una Opción--</option>
                <option>Guayaquil</option>
                <option>Manta</option>
                <option>Quito</option>
                <option>Cuenca</option>
            </select>
        </div>
        
        <div class="col-12">
            <button class="btn btn-primary" (click)="guardar()">Registrar</button>
        </div>
    </form>

    <h1 class="mb-3">Lista de Profesional</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Oficio</th>
                <th>Ciudad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (p of profesion; track $index) {
                <tr>
                    <td>{{p.nombre}}</td>
                    <td>{{p.apellido}}</td>
                    <td>{{p.correo}}</td>
                    <td>{{p.numero}}</td>
                    <td>{{p.oficio}}</td>
                    <td>{{p.ciudad}}</td>
                    <td class="w-25">
                        <button class="btn btn-info me-2" (click)="verPerfil(p.id)">Ver Perfil</button>
                        <button class="btn btn-primary me-2">Editar</button>
                        <button class="btn btn-danger" (click)="eliminarProfesional(p.id)">Eliminar</button>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>

</div>

-->